* {
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 229, 224);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1{
    font-size: 3rem;
}

h2 {
    font-size: 2em;
}

section {
    font-size: 1.5rem;
}

li {
    font-size: 1.5rem;
    list-style-type: none;
}

a{
    font-size: 1.875rem;
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: coral;
}

img {
    height: 60vh;
    width: 42.5rem;
}

ol > li {
    font-size: 1.375rem;
    margin-top: 2.5rem;
}